<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
 <h1>Gabrielle Burke</h1>

 <p>Hi, my name is Gabrielle Burke, and I am a finalising Computer Science student at the University of the West Indies.
    My interests include technology and its application in medicine, volunteering, doing personal charity projects, and sports.
    I am interested in Web Development because I view it as a creative outlet for communicating information, needs, and services.
    I also think the process can be fun.</p>
    <img src="{{ url_for('static', filename='./lab1-img.jpg') }}"/>
</body>
</html>